body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .main {
    text-align: center;
  }
 
  #addBtn{
    background-color: rgb(162, 162, 238);
  }
  #clearBtn
  {
    background-color: rgb(238, 144, 144);
  }
  input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  ul {
    text-align: left;
    padding: 0;
  }
  
  li {
    background-color: rgba(162, 192, 113, 0.815);
    margin: 5px 0;
    cursor: pointer;
  }
  p{
    background-color: rgb(166, 230, 230);
  }
  
