body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
  }
  
  .main {
    text-align: center;
  }
  #removeindex
  {
    max-width: 50px;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  ol {
    text-align: left;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
    cursor: pointer;
  }
  